<DModal
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
  class="select-thumbnail"
  @title={{i18n (theme-prefix "tlp.thumbnail_selector.title")}}
>
  <h3>{{i18n (theme-prefix "tlp.thumbnail_selector.topic_title_prefix")}}
    "{{this.model.topic_title}}"</h3>
  <span class="select-thumbnail">
    {{#each this.model.thumbnails as |thumbnail|}}
      <button
        type="button"
        class="select-thumbnail-options"
        onclick={{fn this.selectThumbnail thumbnail.image_url thumbnail.upload_id}}
      >
        <img src={{thumbnail.image_url}} alt="Thumbnail" />
      </button>
    {{/each}}
  </span>
</DModal>